html, body {
  margin: 0; 
  padding: 0; 
}

/*
 * Content container 
 */
.content {
  margin-left: 1em;
  margin-right: 1em;
  padding: 2rem 0;
  @media (min-width: 24em) {
    margin-left: 2em;
    margin-right: 2em;
  }
  @media (min-width: 48em) {
    margin-left: 16em;
    margin-right: 2em;
  }
  @media (min-width: 64em) {
    max-width: 44em;
    margin-left: 18em;
    margin-right: 4em;
  }
}

/*
 * Sidebar
 */
.sidebar {
  @media (min-width: 48em) {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 10em;
    text-align: left;
  }
}
/* 
 * Copyright
 */
.copyright {
  @media (min-width: 48em) {
    position: fixed;
    bottom: 0;
  }
}