/*
 * Import fonts
 */
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,700);
@import "font-awesome/scss/font-awesome";
body {
  background-color: #fff;
  color: #444;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  @media (min-width: 48em) {
    font-size: 16px;
  }
  @media (min-width: 58em) {
    font-size: 18px;
  }
}

/*
 * Header
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

/*
 * Paragraph
 */
p {
  line-height: 1.4;
}
.p-small {
  font-size: 0.75em;
}

/*
 * Link
 */
a {
  color: inherit;
  position: relative;
  text-decoration: none;
  &:before, &:after {
    content: '';
    border-bottom: 2px solid;
    position: absolute;
    width: 51%;
    top: 1.15em;
    transition: width 0.2s;
  }
  &:before {
    left: 0;
  }
  &:after {
    right: 0;
  }
  &:hover {
    &:before, &:after {
      width: 0;
    }
  }
  &:focus {
    outline: none;
  }
}
.a-no-underline {
  &:before, &:after {
    display: none;
  }
}

/*
 * Import all the things!
 */
@import "layout";
@import "scale-demo"; 
@import "sidebar";
@import "syntax";