.post {
  margin: 3em 0;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }

  iframe {
    width: 100%;
  }
}
.post-title {
  a {
    color: inherit;
  }
}
.post-date {
  color: #676767;
}