.sidebar {
  text-align: center;
  padding: 2rem;
  color: rgba(255,255,255,.5);
  background-color: #1E252F;

  @media (min-width: 48em) {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 10em;
    text-align: left;
  }

  a {
    color: #FFF;
  }

  .subtitle {
    font-size: 0.85em;
    margin: 0;
  }
}

/*
 * Sidebar logo 
 */
.logo {
  h1 {
    color: #fff;
    margin: 0;
    font-size: 3.25rem;
  }
  &:hover, &:focus {
    &:before, &:after {
      display: none;
    }
  }
}

/* 
 *Sidebar nav 
 */
.sidebar-nav {
  margin: 2em 0;
  list-style: none;
  padding-left: 0;
}

/* 
 * Copyright
 */
.copyright {
  position: relative;
  bottom: 0;
}
