.recent-work {
  .row {
    clear: both;
    margin: 1.5em 0;
    overflow: auto;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
    @media (max-width: 32em) {
      &:after {
        border-bottom: 1px solid #D4D4D4;
        content: '';
        display: block;
        margin: 0 auto;
        padding: 1em 0 0;
        width: 70%;
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
    }
  }
  .left, .right {
    @media (min-width: 32em) {
      float: left;
      width: 50%;
      box-sizing: border-box;
      padding: 0 1em 0 0;      
    }
    padding: 0;
    width: 100%;
  }
  .right {
    @media (min-width: 32em) {
      padding: 0 0 0 1em;
    }
    padding: 0;
  }
}