@import './colors';
@import './fonts';
@import './utils';

body {
  margin: 0;
  padding: 0;
  font-family: $primary-font;
  font-size: 16px;
  letter-spacing: .0133em;
  line-height: 1.667;
}

ul, ol {
  -webkit-padding-start: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $primary-font;
  font-weight: 400;
}

h1 {
  font-size: 3rem;
  letter-spacing: 0.0167em;
  line-height: 1.25;
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-family: $secondary-font;
  letter-spacing: .0833em;
  line-height: 1.875;
  font-size: .825rem;
  font-weight: 300;
}

.pre {
  color: $gray-900;
  font-family: monospace;
  font-size: 1rem;
  background: $gray-200;
  display: inline-block;
  padding: 2px 8px;
}

.divider {
  border: none;
  border-top: 2px solid $gray-900;
  margin: 30px 0;
  width: 56px;

  &.centered {
    margin-left: auto;
    margin-right: auto;
  }

  &.white {
    border-color: $solid-white;
  }
}

.button {
  border: none;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  max-width: 160px;
  padding: 8px 12px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
  transition: background .2s;

  &:hover { text-decoration: none; }

  &-primary {

    &:hover {
    }
  }
}
