.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.hide-on-desktop {
  @media (min-width: 1024px) {
    display: none;
  }
}

.hide-on-tablet {
  @media (min-width: 768px) {
    display: none;
  }
}

.hide-on-mobile {
  @media (max-width: 767px) {
    display: none;
  }
}
