    {{ partial "head.html" . }}
    <body>

        {{ partial "sidebar.html" . }}

        <div class="content container">
            <div class="posts">
              {{ range ( .Paginate (where .Data.Pages "Type" "post")).Pages }}
                <div class="post">
                    <h1 class="post-title">
                        <a href="{{ .Permalink }}">
                            {{ .Title }}
                        </a>
                    </h1>
                    <!-- <span class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span> -->
                    {{ .Content }}
                </div>
              {{ end }}

              {{ partial "pagination.html" . }}
            </div>
        </div>
      
      <!-- Highlight JS for some pretty syntax highlighting -->
      <script src="{{ .Site.BaseURL }}js/highlight.pack.js"></script>
      <script>hljs.initHighlightingOnLoad();</script>
    </body>
</html>
