@import "client/sass/colors";

.home-component {
  .counter-component {
    background: #22222A;
    padding: 4px 0;
    width: 100%;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      color: $gray-300;
      font-size: .625rem;
      letter-spacing: .0567em;
      letter-spacing: .0133em;
      text-transform: uppercase;

      span {
        color: $gray-600;
      }
    }
  }

  .hero-component {
    background: url('./img/k-ollie.jpg') no-repeat center / cover;
    height: calc(100vh - 96px);
    width: 100%;

    h1 {
      color: $solid-white;
      font-size: 4rem;
      line-height: 0.88;
      margin: 0;
    }

    h3 {
      color: $solid-white;
      font-weight: 300;
      line-height: 1;
      margin: 0;
    }

    p {
      color: $solid-white;
      max-width: 260px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .copy-container {
    padding-top: 250px;
    text-align: center;
  }

  .jam { // TODO a gooey drip thing here
    display: inline-block;
    font-family: 'Barrio';
    font-size: 3rem;
    text-shadow: 2px 2px 3px rgba(100,0,250,0.75);
    transform: rotate(8deg);
    vertical-align: middle;
  }
}
