@import url('https://fonts.googleapis.com/css?family=VT323');
@import "client/sass/vars";
$black: #232722;
$white: #e8e8e7;

.farm-component {
  background: #131915;
  box-sizing: border-box;
  color: $white;
  display: block;
  position: relative;
  padding: 90px 60px;
  font-family: "VT323", monospace;
  font-size: 1.6rem;
  letter-spacing: .0833em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  h1 {
    font-family: inherit;
    font-size: 4rem;
    font-weight: 400;
    margin: 0 0 1.375rem 0;
  }

  p {
    font-family: inherit;
    font-size: 2rem;
    line-height: 1;
    margin: 0;
  }

  .farm-container {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 480px;

    @include mobile {
      max-width: 100%;
    }
  }

  .garden-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0;
    padding: 0;

    @include mobile {
      flex-direction: column;
      align-items: center;
      height: 480px;
    }
  }

  button {
    background: transparent;
    border: none;
    color: $white;
    display: inline-block;
    font-family: "VT323", monospace;
    font-size: 2.4rem;
    margin: 16px 8px 16px 0;
    padding: 0;

    @include mobile {
      display: block;
    }

    &:before {
      content: "[";
      display: inline-block;
      margin-right: 4px;
    }

    &:after {
      content: "]";
      display: inline-block;
      margin-left: 4px;
    }

    &:hover,
    &.active {
      background: $white;
      color: $black;
    }

    &:active {
      background: transparent;
      color: $white;
    }

    &:focus {
      outline: none;
    }
  }
}
