@import "client/sass/vars";

.app-component {
  background: $dark-blue-500;
  color: $gray-200;

  .work-in-progress-component {
    text-transform: uppercase;
    padding: 100px 0 0;

    .work-in-progress-container {
      width: 100%;
      max-width: 700px;
      margin: 0 auto;
      padding: 0 0 60px 0;
    }

    h1 {
      letter-spacing: 0;

      @include mobile {
        font-size: 2rem;
      }
    }

    p {
      line-height: 1.4;
      letter-spacing: 0;
    }

    .copy {
      font-family: $primary-font;
      margin-bottom: 80px;
    }

    .warning {
      color: $red-500;

      h3,
      p {
        font-family: inherit;
        letter-spacing: 0;
        margin: 0;
      }

      p {
        color: $dark-blue-500;
        background: $red-500;
        display: inline-block;
        padding: 0 6px;
      }
    }
  }
}
