@import "client/sass/vars";

.hero-component {
  height: 700px;
  width: 100%;

  @include mobile {
    height: auto;
  }

  h1,
  h3 {
    font-family: inherit;
    letter-spacing: 0;
    line-height: 1;
    margin: 0 0 1px 0;
  }

  h1 {
    @include mobile {
      font-size: 2rem;
    }
  }

  p {
    font-family: inherit;
    font-size: 1rem;
    line-height: 1.4;
    letter-spacing: 0;
    margin: 0;

    @include mobile {
      font-size: .825rem;
    }
  }

  .blurb-container {
    color: $dark-blue-500;
    font-family: $primary-font;
    text-transform: uppercase;
    padding: 120px 0;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;

    @include mobile {
      padding: 90px 0 120px;
    }
  }

  .blurb {
    margin: 6px 0;
  }

  .card {
    box-sizing: border-box;
    height: 110px;
    max-width: 365px;
    padding: 12px;
  }

  .user-data-blurb {
    margin-bottom: 0;

    h1 {
      color: $gray-200;
      letter-spacing: 0;
    }

    p {
      color: $gray-200;
    }
  }

  .personal-info-blurb  {
    h3 {
      color: $green-500;
    }

    .card {
      background: $green-500;
    }
  }

  .warning-blurb {
    h3 {
      color: $red-500;
    }

    .card {
      background: $red-500;
    }
  }

  .data-blurb {
    h3 {
      color: $yellow-500;
    }

    .card {
      background: $yellow-500;
    }
  }

  .life-systems-blurb  {
    h3 {
      color: $gray-200;
    }

    .card {
      background: $gray-200;
    }
  }

  .icon-error {
    display: inline-block;
    vertical-align: bottom;
  }

  .double-arrow-component {
    transform: translateY(-20px);
  }

  .blink {
    animation: blink 1000ms steps(2, start) infinite;
  }

  @keyframes blink {
    to {
      visibility: hidden;
    }
  }
}
